@charset "ISO-8859-1";

body {
	background-color: aliceblue;
}

h1 {
	color: darkred;
	text-align: center;
	font-size: 50px;
	font-weight: bold;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.container {
	border: 3px solid;
	border-radius: 20px;
	height: 350px;
}

h2 {
	color: blue;
	margin-left: 250px;
	margin-top: 20px;
	font-size: 40px;
}

h3 {
	font-size: 24px;
}

img {
	width: 300px;
	height: 100px;
	margin-left: 490px;
	margin-top: -10px;
}

.depature {
	margin-left: 20px;
	position: relative;
	top: -70px;
}

.place {
	position: relative;
	top: 22pxpx;
}

.date {
	margin-left: 160px;
	margin-top: -50px;
	word-spacing: 15px;
	color: rgba(255, 217, 0, 0.925);
}

.destinations {
	margin-left: 900px;
	position: relative;
	top: -120px;
}

#button {
	margin-left: 1050px;
	width: 150px;
	height: 40px;
	border-radius: 30px;
	border: none;
	background-color: blue;
	color: white;
	font-size: 20px;
	font-weight: bold;
	position: relative;
	top: -100px;
}

.price {
	position: relative;
	top: -100px;
	margin-left: 50px;
	font-size: 20px;
	font-weight: bold;
}

span {
	color: darkorange;
}

#Economic {
	position: relative;
	left: 30px;
}

.flightno {
	visibility: hidden;
}

.noflight {
	color: blue;
	text-align: center;
	font-size: 40px;
	font-weight: bold;
}