@charset "ISO-8859-1";

body {
	background-color: silver;
}

h1 {
	font-size: 40px;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-weight: bold;
	color: slateblue;
	text-align: center;
	margin-top: 18%;
}

h2, a {
	text-align: center;
	text-decoration: none;
}