@charset "ISO-8859-1";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	font-family: Arial, sans-serif;
}

body {
	background-image: url("../images/home.png.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 100vh;
	filter: brightness(150%);
}

h1 {
	color: crimson;
	text-align: center;
	font-weight: bold;
	font-size: 100px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ul {
	list-style: none;
	background-color: black;
	height: 70px;
	padding-inline: 100px;
}

li {
	display: inline-block;
	line-height: 2px;
	width: 250px;;
	padding: 24px;
	word-spacing: 4px;
	position: relative;
	margin-top: 10px;
	font-size: 20px;
	left: 150px;
}

a {
	text-decoration: none;
	color: blanchedalmond;
}

a:hover {
	color: deepskyblue;
}