@charset "ISO-8859-1";

* {
	margin: 0;
	padding: 0;
}

h1 {
	text-align: center;
	color: blue;
	font-size: 40px;
	font-family: sans-serif;
	margin-top: 20px;
}

.rating {
    direction: rtl;
    unicode-bidi: bidi-override;
    display: inline-block;
    margin-left: 490px;
    margin-top : 20px;
}

.star {
    font-size: 5rem;
    cursor: pointer;
    color: #ccc;
    
}

.star:hover,
.star:hover ~ .star,
.star.selected,
.star.selected ~ .star {
/*    color: #f39c12;
*/color: #ffeb3b;
}

p{
	   margin-left: 600px;
	   font-size: 20px;
	   font-family: sans-serif;
	   font-weight: bold;
	   
}
textarea {
	position: relative;
	margin-top: 50px;
	margin-left: 480px;
	height: 100px;
	width: 450px;
	border: 3px solid;
}

textarea, :placeholder-shown {
	font-size: 25px;
	
}

button {
	position: absolute;
	left: 620px;
	height: 40px;
	width: 120px;
	border: none;
	border-radius: 150px;
	background-color: rgb(196, 221, 243);
	font-size: 20px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
		sans-serif;
	color: black;
	font-weight: bold;
}

a {
	text-decoration: none;
	color: blue;
}