@charset "ISO-8859-1";

a {
	text-decoration: none;
	color: blue;
}

h1 {
	text-align: center;
	font-size: 50px;
	color: steelblue
}

h2 {
	margin-left: 20px;
}

table {
	text-align: center;
}

th {
	background: silver;;
	color: black;
	border: 1px solid;
	border-collapse: collapse;
}

td {
	border: 1px solid;
	border-collapse: collapse;
}

::-webkit-scrollbar {
	display: none;
}

.edit {
	background-color: #2196F3;
	font-weight: bold;
	border: none;
	border-radius: 10px;
	height: 30px;
	width: 50px;
}

.update {
	color: white;
}

.delete {
	background-color: #f44336;
	color: white;
	font-weight: bold;
	border: none;
	border-radius: 5px;
	border-radius: 10px;
	height: 30px;
	width: 60px;
}